.puzzle-piece {
    clip-path: path('M25 0 L75 0 L100 25 L100 75 L75 100 L25 100 L0 75 L0 25 Z');
  }
  

  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  section {
    overflow: hidden;
  }
  
  motion-div {
    will-change: transform;
  }
  
  motion-div.absolute {
    clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    ); /* Forme de puzzle */
  }