@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Ajouter des classes personnalisées pour Tailwind V4 */
@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
}
/* Définir des couleurs personnalisées */
.text-primary {
  color: #1F3C58; /* Bleu foncé */
}
.bg-primary {
  background-color: #1F3C58; /* Bleu foncé */
}

.text-secondary {
  color: #A3BC35; /* Jaune clair */
}

.bg-secondary {
  background-color: #A3BC35; /* Jaune clair */
}

.text-accent {
  color: #00F9F1; /* Turquoise */
}

.bg-accent {
  background-color: #00F9F1; /* Turquoise */
}

.bg-background {
  background-color: #FFFFFF; /* Blanc */
}

/* Mode sombre */
.dark .text-primary {
  color: #2D6A4F; /* Vert foncé pour mode sombre */
}

.dark .bg-primary {
  background-color: #2D6A4F; /* Vert foncé pour mode sombre */
}

.dark .text-secondary {
  color: #F4A261; /* Jaune plus foncé en mode sombre */
}

.dark .bg-secondary {
  background-color: #F4A261; /* Jaune plus foncé en mode sombre */
}

.dark .text-accent {
  color: #F0A7E8; /* Accent plus doux en mode sombre */
}

.dark .bg-accent {
  background-color: #F0A7E8; /* Accent plus doux en mode sombre */
}

.dark .bg-background {
  background-color: #111; /* Fond sombre */
}


html {
  scroll-behavior: smooth;
}
